* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
}

body {
  margin: 0;
  background-color: #282c34;
  color: white;
}
.bodyBox {
  flex-direction: column;
}
.regionalInformationList {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.regionalInformationItems {
  width: auto;
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.headerBox {
  padding: 20px 40px;
  box-sizing: border-box;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  height: 80px;
  background-color: #fff;
}

.footerClass {
  height: auto;
}
.mapBox {
  flex-basis: 100%;
  flex-grow: 1;
  left: 3%;
  top: 20%;
  overflow: hidden;
  height: 100%;
}
.mapJapan {
  zoom: 1;
  flex-basis: 100%;
  width: 100%;
  height: 100%;
}

.weatherAtCurrentLocation {
  color: black;
  border: 1px solid black;
}
form {
  display: block;
  margin-top: 0em;
  margin-block-end: 0em;
}
.locationOptionSelect {
  color: black;
  border: 1px solid black;
}
.regionInfoBox {
  background-image: url("https://i.ibb.co/TtrXz5k/152065.jpg");

  flex-basis: 100%;
  height: auto;
}
.geoDataInformation {
  position: relative;
  margin-top: 0%;
  color: black;
  margin-left: 0%;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.testClass {
  display: inline-block;
}

.navBar {
  display: inline-block;
  position: relative;
}

.subNav {
  position: relative;
  display: none;
}

.navItem {
  position: absolute;
}
.subSubNav {
  position: absolute;
  display: none;
}
.navItem:hover > ul .subNav {
  display: block;
}
.subNav:hover > ul.subSubNav {
  display: inline-block;
}
.columnForGeoDataAndMap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 640px) {
  .mapBox {
    flex-basis: 100%;
    flex-grow: 1;
    height: 100%;
    overflow: wrap;
  }
  .regionalInformationItems {
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .bodyBox {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
  }
  .columnForGeoDataAndMap {
    display: flex;
    flex-direction: column;
  }
  .columnForUlAndEtc {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .regionInfoBox {
    flex-basis: 100%;
    display: flex;
  }
  .geoDataInformation {
    color: black;
    position: relative;
  }
  .whole {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
  }
  .regionalInformationItems {
    color: black;
    text-align: left;
    background-color: white;
  }
  .regionalInformationList {
    justify-content: center;
    width: 100%;
  }
  .itemsCssStyling {
    padding-left: 40px;
  }
}
.modalWindowForPositionRefusalBackground {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
}
.modalWindowForPositionRefusalClass {
  background-color: black;
  height: 400px;
  width: 100%;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gm-style .gm-style-iw {
  color: black;
}
